[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
cdflib = "*"
scipy = "*"
mediapipe = "*"
ultralytics = "*"
segment-anything = {git = "https://github.com/facebookresearch/segment-anything.git", editable = true}

[dev-packages]

[requires]
python_version = "3.9"
